* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Averia Sans Libre", sans-serif;
  background-color: #f0f2f5;
  color: #333;
  font-weight: 400;
  line-height: 1.5;
}

input,
button {
  font-family: inherit;
}
